build
node_modules
.env
yiffstash
Django/env
Django/venv
env/
venv/
*.pyc
__pycache__/
staticfiles/
media/
*.log
logs/
.idea/
db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
staticfiles/
.DS_Store
Thumbs.db