name: Deploy to Server

on:
  push:
    branches:
      - main # or any branch you want to trigger the sync from
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.DIGITAL_OCEAN_PRIVATE_KEY }}

      - name: Sync repo to server
        run: |
          ssh -T -o StrictHostKeyChecking=no root@68.183.142.6 << 'EOF'
            cd ~/TagMyStickies
            git reset --hard HEAD
            git pull origin main
            chmod +x linuxProdStartupScript.sh
            chmod +x startDjangoProd.sh
            ./linuxProdStartupScript.sh
          EOF
